<div class="container">
  <div class="text-center text">
    <h1>{{title}}</h1>
  </div>

  <div *ngIf="spinner" class="loader"></div>

  <div class="bg-light text">
    <div class="search-movie">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
        placeholder="&#61442;  Search Your Movie">
    </div>
    <div class="movie-list search-movie bg-white" style="padding-bottom: 0%;">
      <div class="border table-striped table-responsive-sm">
        <div class="d-flex">
          <span *ngFor="let time of movieTime" (click)="onTheaterSelect($event, time)"
            class="mt-2 ml-5 mr-5 theater-name"
            [ngClass]="{'nav-selected' : (selectedTheater && selectedTheater.id === time.id)}">{{ time.name}}
          </span>
        </div>
        <div *ngFor="let movie of movieList | filter:searchText">
          <div *ngIf="movie.show" class=" movie-block mt-4 mr-4 mb-4 ml-4">
            <div class="left-div"><img src={{movie.poster}} width="100%" height="100%"></div>
            <div class="right-div d-flex flex-column ml-5">
              <span class="movie-title">{{movie.title}} ( {{movie.rating}} )</span>
              <div style="padding-right: 2%;">
                <span *ngFor="let t of movie.showTimes"> {{ t }} </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>